

/* Iida: */

header {
    font-family: 'Roboto';      
    
}

.sm-icons {
    align-items: baseline;
    padding: 30px;

}

/* .carousel {
    width: 1440px;
    height:583px;
  } */

  /* Iidan koodi loppuu */